/* Basic reset for styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 
 
 body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
 }
 
 
 .game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
 
 .status {
  margin-bottom: 20px;
  font-size: 24px;
 }
 
 
 .board {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* creates a 3x3 grid */
  grid-gap: 0px;
  margin-bottom: 20px;
  border: 2px solid #000;
  padding: 10px;
 }
 
 
 .square {
  width: 100px;
  height: 100px;
  background: #ee0d0d;
  border: 1px solid #040101;
  padding: 0;
  font-size: 2em; /* Large font size for X and O */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }
 
 
 .game-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
 
 .game-info ol, .game-info ul {
  padding: 0;
  list-style: none;
 }
 
 
 .game-info li {
  margin-bottom: 5px;
 }
 
 
 .ui.button {
  width: auto; /* Adjust width as needed or set to 100% for full width */
  margin-bottom: 10px; /* Spacing between buttons */
 }
 
 
 /* Reset button at the bottom */
 .reset-button {
  margin-top: 20px;
 }
 
 
 /* Ensure the game scales nicely on smaller screens */
 @media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(3, 90px);
    grid-gap: 5px;
  }
 
 
  .square {
    width: 90px;
    height: 90px;
    font-size: 1.5em; /* Adjust font size for smaller squares */
  }
 }
 
 
 